.banner {
    display:flex;
    justify-content: center;

    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.flag {
    width: 0px; 
    height: 7vw;
    text-align: center;
    
    border-left: 3vw var(--green-color) solid;
    border-right: 3vw var(--green-color) solid;
    border-top: 0.5vw var(--green-color) solid;
    border-bottom: 3vw transparent solid;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    
    margin-right: 0.7vw;
    margin-left: 0.7vw;
}

.character {
    font-family: var(--title-font);
    font-size: 5vw;
    font-weight: 700;
    color: var(--white-color);

    width: fit-content;
    transform: translateX(-50%);
}