.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    min-height: 100vh;
}

.flex-container > div {
    margin: auto 0;
    text-align: center;
}

.flex-container > div > h1 {
    font-size: 12vw;
}

.flex-container > div > a {
    font-size: 30px;
}

.flex-container > div > img {
    max-width: 40vw;
}


@media (max-width: 600px) {
    /* styles for small screens */
    .flex-container {
        flex-direction: column;
        align-items: center;
    }

    .flex-container > div {
        margin: 0 0;
    }

    .flex-container > div > h1 {
        font-size: 15vw;
    }

    .flex-container > div > a {
        font-size: 5vw;  
    }

    .flex-container > div > img {
        max-width: 60vw;
    }
}