:root {
  /* main colours */
  --main-bg-color: #F1E7E5;
  --main-text-color: #4f362f;
  --main-title-color: #C38783;

  /* secondary colours */
  --other-bg-color: #BCA59F;
  --other-title-color: #906D64;
  --other-text-color: #906D64;
  --highlight-color: #D2A689;

  /* other colours */
  --white-color: #f9f9f9;
  --green-color: #9EA476;
  --yellow-color:#F5DAAF;

  /* shadows */
  --title-shadow: 2px 2px 1px #904f4a;

  /* fonts */
  --main-font: "EB Garamond", serif;
  --title-font: "Gochi Hand", serif;
}

html {
  background-color: var(--main-bg-color);
}

body {
  width: 90%;
  margin: 0 auto;
  margin-top: 10vw;
  padding: 0 20px 20px 20px;
  justify-content: center;

  font-family: var(--main-font);
  color: var(--main-text-color);
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: var(--title-font);
  color: var(--main-title-color);
  font-weight: 600;
  font-style: normal;
  font-size: 100px;
  text-align: center;

  text-shadow: var(--title-shadow);

  margin: 0;
}

h2 {
  font-family: var(--title-font);
  color: var(--other-title-color);
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  text-align: center;

  padding-top: 20px;
}

img {
  display: block;
}

a {
  color: var(--other-text-color);
  text-decoration: none;
  font-size: 25px;
}

a:hover {
  color: var(--highlight-color);
  text-decoration: underline;
}


.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-container > div {
  margin-top: auto;
  margin-bottom: auto;
}

.flex-container > div > h1 {
  font-size: 12vw;
}

.flex-container > div > a {
  font-size: 30px;  
}

.flex-container > div > img {
  width: auto;
  max-width: 40vw;
  margin-left: auto;
}


@media (max-width: 600px) {
  /* styles for small screens */
  .flex-container {
    flex-direction: column;
    align-items: center;
  }

  .flex-container > div > h1 {
    font-size: 15vw;
  }
  
  .flex-container > div > a {
    font-size: 5vw;  
  }
  
  .flex-container > div > img {
    width: auto;
    max-width: 60vw;
    margin-left: auto;
  }
}


.nothing-else-block {
  display: block;
  text-align: center;
  background-color: var();
}