:root {
  /* main colours */
  --main-bg-color: #F1E7E5;
  --main-text-color: #4f362f;
  --main-title-color: #C38783;

  /* secondary colours */
  --other-title-color: #906D64;
  --other-text-color: #906D64;
  --highlight-color: #D2A689;

  /* shadows */
  --title-shadow: 2px 2px 1px #904f4a;

  /* fonts */
  --main-font: "EB Garamond", serif;
  --title-font: "Gochi Hand", serif;
}

html {
  background-color: var(--main-bg-color);
}

body {
  /* width: 600px;
  margin: 0 auto;
  background-color: #F1E7E5;
  padding: 0 20px 20px 20px;
  border: 5px dashed #BCA59F; */

  width: 80%;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  text-align: center;

  font-family: var(--main-font);
  color: var(--main-text-color);
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: var(--title-font);
  color: var(--main-title-color);
  font-weight: 600;
  font-style: normal;
  font-size: 80px;
  text-align: center;

  text-shadow: var(--title-shadow);

  margin: 0;
}

h2 {
  font-family: var(--title-font);
  color: var(--other-title-color);
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  text-align: center;

  padding-top: 20px;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 60%;
}

a {
  color: var(--other-text-color);
  text-decoration: none;
  font-size: 25px;
}

a:hover {
  color: var(--highlight-color);
  text-decoration: underline;
}